<h1><%= @movie.title %></h1>
<hr>
<p><%= simple_format(@movie.description) %></p>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<% if(@like.nil?)%>
<button class="btn btn-info like">좋아요(<span class="like-count"><%= @movie.likes.count %></span>)</button>
<%else%>    
<button class="btn btn-warning text-white like">좋아요 취소(<span class="like-count"><%= @movie.likes.count %></span>)</button>
<%end%>
<hr>


<form class="text-right comment">
    
    <input class="form-control comment-contents" type="text">
    <input type="submit" value="댓글쓰기" class="btn btn-success float-right">
</form>
<br/>
<hr>
<h3>댓글</h3>

<ul class="list-group comment-list">
    <% @comments.reverse.each do |comment| %>
        <li class="comment-<%= comment.id %> list-group-item d-flex justify-content-between">
            <span class="comment-detail-<%= comment.id %>"><%= comment.contents %></span>
            <div>
                <button data-id="<%= comment.id %>" class="btn btn-warning text-white edit-comment">수정</button>
                <button data-id="<%= comment.id %>" class="btn btn-danger destroy-comment">삭제</button>
            </div>
        </li>
    <% end %>
</ul>

<script type="text/javascript">
$(document).on('ready', function(){
    $('.like').on('click', function(){
        console.log("Like!!");
        $.ajax({
            url: '/likes/<%= @movie.id %>'
        });
    });
    
    $('.comment').on('submit', function(e){
        //기본으로 설정된 이벤트 삭제.
        e.preventDefault();
       var comm = $('.comment-contents').val();
       //console.log(comm);
       $.ajax({
           url: '/movies/<%= @movie.id %>/comments',
           method: 'post',
           data: {
               contents: comm
           }
       })
       
       //$('.comment-list').prepend(`<li class="list-group-item">${comm}</li>`);
       //$('.comment-contents').val('');
    });
    
    $(document).on('click', '.destroy-comment', function(){
       console.log("destroyed!");
       //$(this).parent().remove();
       
       var comment_id = $(this).attr('data-id');
       // $(this).data('id');
       $.ajax({
           url: '/movies/comments/' + comment_id,
           method: 'delete'
       });
    });
    
    $(document).on('click', '.edit-comment',function(){
        if($('.update-comment').length > 0) {
            return;
        }
        
       var comment_id = $(this).data('id');
       var edit_comment = $(`.comment-detail-${comment_id}`);
       var contents = edit_comment.text();
       
       $(`.comment-detail-${comment_id}`).html(`
           <input type="text" value="${contents}" class="form-control edit-comment-${comment_id}">`);
       $(this).text("확인").removeClass("edit-comment").addClass("update-comment btn-dark");
    });
    
    $(document).on('click', '.update-comment', function(){
        //console.log("update");
        var comment_id = $(this).data('id');
        var comment_form = $(`.edit-comment-${comment_id}`);
        // console.log(comment_form.val());
        var edit_comment = $(`.comment-detail-${comment_id}`);
        
        
        
        $.ajax({
            url: "/movies/comments/" + comment_id,
            method: "patch",
            data: {
                contents: comment_form.val()
            }
        })
    });
});
</script>